{% extends 'layouts/forms.html' %}
{% set title %}Have you been asked to give evidence of the years you paid pension contributions to the UK and to other countries?{% endset %}
{% set caption = data.uploadCaption %}
{% set errorMessage %}Select yes if you been asked to give evidence of the years you paid pension contributions to the UK and to other countries?{% endset %}
{% set idPrefix %}provide-eea-pension-evid{% endset -%}
{% set hideErrorMarkup = true %}



{% block form %}
<p>Select yes if the email we sent you asks for letters showing breakdowns of the years you paid pension contributions in the UK and in other countries.</p>
{{ radios({
    "id": idPrefix,
    "name": "provideEEPensEvid",
    "errorMessage": {
      "html": errorMessage
    } if data['error'] == 'true',

    "items": [
      {
        "value": "Yes",
        "text": "Yes",
        "checked": data.provideEEPensEvid === 'Yes'
      },
      {
        "value": "No",
        "text": "No",
        "checked": data.provideEEPensEvid === 'No'
      }
    ]
  }) }}

 
{% endblock %}
