{% extends 'layouts/forms.html' %}
{% set title %}Upload evidence showing how many years you have paid pension contributions to the UK and to other countries{% endset %}
{% set caption = data.uploadCaption %}
{% set hideErrorMarkup = true %}
{% set idPrefix %}upload-firstname{% endset -%}


{% block form %}
  <p>You need to upload evidence for the following countries:</p>
  <ul class="nhsuk-list nhsuk-list--bullet">
    <li>
      United Kingdom
    </li>
    <li>
      Austria
    </li>
    <li>
      Switzerland
    </li>
  </ul>
  {{ button({
    "text": "Choose files",
    "classes": "nhsuk-button--secondary nhsuk-u-margin-top-3  nhsuk-u-margin-bottom-3"
  }) }}

{% endblock %}
