<h2 class="nhsuk-heading-m">Sending your evidence</h2>
<p>You can send us your evidence by taking a photo of it with a mobile phone or digital camera, or by scanning it.</p>

{{ insetText({
  "HTML": "<p>Send the photo or scanned image as an email attachment to <a target=/_blank/ href=mailto:\S1applications@nhsbsa.nhs.uk\ title=\"External website\">S1applications@nhsbsa.nhs.uk</a></p>"
}) }}
<p>You must include these details in your email:</p>
<ul class="nhsuk-list nhsuk-list--bullet">
  <li>
    OHS reference number
  </li>
  <li>
    full name 
  </li>
  <li>
    date of birth
  </li>
  <li>
    the address you used in your application
  </li>
</ul>
<p>If you cannot send your evidence this way, let us know by email at <a href="mailto:S1applications@nhsbsa.nhs.uk">S1applications@nhsbsa.nhs.uk</a> </p>