{% extends 'layouts/forms.html' %}
{% set title %}What is your address in {{ data.countrySOne or 'Germany'}}?{% endset %}
{% set caption = data.mainCaption %}
{% set inputError = true %}
{% set idPrefix %}address-line-one{% endset -%}
{% set hideErrorMarkup = true %}

{% set insetMessage %}
<p>We need an address in {{ data.countrySOne or 'Germany'}} to put on your S1 certificate. This can be a temporary address but you’ll need to contact both the NHS Business Services Authority and the relevant authority in {{ data.countrySOne or 'Germany'}} to let them know if your address changes.</p>
<p>We'll send you instructions for changing your address with your S1 form if your application is successful. </p>
{% endset %}


{% set errorMessage %}
  {% include '../apply/_error-address-content.html' %}
{% endset %}



{% block form %}

{{ insetText({
  "HTML": insetMessage
}) }}
{{ input({
  label: {
    "html": 'Address line 1'
  },
  "id": "address-line-one",
  "name": "addressLineOne",
  "value": data.addressLineOne,
  "errorMessage": {
    "html": 'Enter a valid first line'
  } if data['error'] == 'true'
}) }}
{{ input({
  label: {
    "html": 'Address line 2 (optional)'
  },
  "id": "address-line-two",
  "name": "addressLineTwo",
  "value": data.addressLineTwo
}) }}


{{ input({
  label: {
    "text": "Town or city"
  },
  "classes": "nhsuk-u-width-two-thirds",
  "id": "city",
  "name": "city",
  "value": data.city,
  "errorMessage": {
    "html": 'Enter a valid city'
  } if data['error'] == 'true'
}) }}

{{ input({
  label: {
    "text": "County, province or region "
  },
  "classes": "nhsuk-u-width-two-thirds",
  "id": "county",
  "name": "county",
  "value": data.county,
  "errorMessage": {
    "html": 'Enter a valid county, province or region'
  } if data['error'] == 'true'
}) }}

{{ input({
  label: {
    "text": "Postcode (optional)"
  },
  "classes": "nhsuk-input--width-10",
  "id": "postcode",
  "name": "postcode",
  "value": data.postcode
}) }}

{{ input({
  label: {
    "html": 'Country'
  },
  "id": "country",
  "classes": "nhsuk-u-width-two-thirds",
  "name": "country",
  "value": data.country,
  "errorMessage": {
    "html": 'Enter a valid country'
  } if data['error'] == 'true'
}) }}
{% endblock %}
