{% extends 'layouts/forms.html' %}
{% set title %}What is your email address?{% endset %}
{% set hintText = true %}
{% set hintTextCopy %}We'll use this to send you a copy of the S1 or if we need to ask you for any evidence to support your application.{% endset %}
{% set caption = data.mainCaption %}
{% set inputError = true %}
{% set hideErrorMarkup = true %}


{% set errorMessage %}
  {{ data.errorMessage or 'errorMessage'}}
{% endset %}

{% set idPrefix %}email{% endset -%}


{% block form %}
{{ input({
    "label": {
      "text": "Email address"
    },
    "id": "email",
    "name": "email",
    "value": data.email,
    "errorMessage": {
      "html": errorMessage
    } if data['error'] == 'true'
  }) }}


{% endblock %}
