{% extends 'layouts/forms.html' %}
{% set title %}What is {{ data.dependantName or 'John Smith' }}'s address?{% endset %}
{% set caption = data.mainCaption %}
{% set inputError = true %}
{% set idPrefix %}dependantAddressLineOne{% endset -%}
{% set hideErrorMarkup = true %}


{% set errorMessage %}
{% include '../apply/_error-address-content.html' %}
{% endset %}

{% set insetMessage %}
<p>We need an address in {{ data.countrySOne or 'Germany'}} to put on their S1 certificate. This can be a temporary address, but you’ll need to contact both the NHS Business Services Authority and the relevant authority in {{ data.countrySOne or 'Germany'}} to let them know if the address changes.  </p>
{% endset %}


{% block form %}

{{ insetText({
  "HTML": insetMessage
}) }}

{{ input({
  label: {
    "html": 'Address line 1'
  },
  "id": idPrefix,
  "name": "dependantAddressLineOne",
  "value": data.dependantAddressLineOne,
  "errorMessage": {
    "html": 'Enter a valid first line'
  } if data['error'] == 'true'
}) }}
{{ input({
  label: {
    "html": 'Address line 2 (optional)'
  },
  "id": "dependantAddressLineTwo",
  "name": "dependantAddressLineTwo",
  "value": data.dependantAddressLineTwo
}) }}


{{ input({
  label: {
    "text": "Town or city"
  },
  "classes": "nhsuk-u-width-two-thirds",
  "id": "dependantCity",
  "name": "dependantCity",
  "value": data.dependantCity,
  "errorMessage": {
    "html": 'Enter a valid city'
  } if data['error'] == 'true'
}) }}

{{ input({
  label: {
    "text": "County, province or region"
  },
  "classes": "nhsuk-u-width-two-thirds",
  "id": "dependantCounty",
  "name": "dependantCounty",
  "value": data.dependantCounty,
  "errorMessage": {
    "html": 'Enter a valid county, province or region'
  } if data['error'] == 'true'
}) }}

{{ input({
  label: {
    "text": "Postcode (optional)"
  },
  "classes": "nhsuk-input--width-10",
  "id": "dependantPostcode",
  "name": "dependantPostcode",
  "value": data.dependantPostcode
}) }}

{{ input({
  label: {
    "html": 'Country'
  },
  "id": "dependantCountry",
  "classes": "nhsuk-u-width-two-thirds",
  "name": "dependantCountry",
  "value": data.dependantCountry,
  "errorMessage": {
    "html": 'Enter a valid country'
  } if data['error'] == 'true'
}) }}
{% endblock %}
