{% extends "layouts/emails.html" %} 
{% set emailSubject %}Your S1 application was successful{% endset -%} 

{% block form %}
<p>Your application for an S1 was successful. You can now download a digital copy of your S1 and a letter explaining: </p>
<ul class="nhsuk-list nhsuk-list--bullet">
  <li>
    how to register your S1
  </li>
  <li>
    your healthcare entitlement in other countries and in the UK
  </li>
  <li>
    how to tell us about any changes in your circumstances
  </li>
</ul>
<h2 class="nhsuk-heading-m">Download your S1 and cover letter</h2>
<p>You’ll need your OHS reference number which we’ve included in this email.</p>
{{ insetText({
    "HTML": "<p>Securely download your S1 and letter at <a href=\"../download/start-page\" title=\"External website\">https://services.nhsbsa.nhs.uk/cra/download-s1</a></p>"
  }) }}

  <p>This link to download these documents will expire in 12 weeks. If you have not used the link to access your S1 by {{ '22 May 2024' | twelveWeeksFromNow }}, you’ll need to contact us to get a new link.</p>
  <p>You may need to print a copy of your S1 if you need to show it to local authorities. If you do, we recommend using a colour printer.</p>  
  <h2 class="nhsuk-heading-m">Paper copy of your S1</h2>
  <p>If you asked for a paper copy of your S1, you’ll get this in the post within 15 working days.</p> 

  <h2 class="nhsuk-heading-m">Contact us</h2>
  <p>If you have not got your paper copy within 15 working days of this email, or if you have any questions, email us at <a href="mailto:S1applications@nhsbsa.nhs.uk.">S1applications@nhsbsa.nhs.uk</a></p>
  
  {% endblock %}
