
{% extends "layouts/emails.html" %} 
{% set emailSubject %}Confirmation of your evidence upload {% endset -%} 

{% block form %}
<p>We’ve sent you this email to confirm that we got the evidence you uploaded for your online S1 application. </p>

<h2 class="nhsuk-heading-m">What happens next</h2>
<p>We’ll check your evidence and let you know if your application is successful or if you need to do anything else.</p>
<p>We aim to send you an update on your application within 10 working days.</p>
{% endblock %}
