{% extends "layouts/emails.html" %} 
{% set emailSubject %}More information needed to support your S1 application{% endset -%} 

{% block form %}
<p>Thank you for your application for an S1 form.</p>
<p>We need you to send us some evidence so we can process your application.</p>

<h2 class="nhsuk-heading-m">What you need to send</h2>
<p>You need to send us evidence from the German authorities confirming that you have not paid statutory health contributions to Germany.</p>

<p>We cannot process your application until we get this evidence.</p>

<!-- what personal ID user needs to provide. -->
{% include '../apply/_evidence-email.html' %}

<!-- information on when individuals might expect to hear back. -->
{% include '../apply/_sla.html' %}

{% endblock %}
