{% extends 'layouts/main.html' %}
{% set hideTitle = true %}
{% set hideBackLink = true %}
{% set showCard = false %}
{% set cardTitle %}Your S1 application was rejected{% endset %}
{% set buttonText = 'Finish' %}
{% set buttonHref = '../apply/start-page' %}
{% set showButton = true %}

{% block form %}
<h1 class="nhsuk-heading-l">
    You cannot apply for an S1 for healthcare cover</h1>
<br>
<h2 class="nhsuk-heading-s">Please contact Overseas Healthcare Services</h2>

<p>Telephone: +44 (0)191 218 1999</p>

<p>Monday to Friday 8am to 6pm (GMT)</p> 

<p>Email <a href="mailto:S1applications@nhsbsa.nhs.uk">S1applications@nhsbsa.nhs.uk</a> to find out what you need to do next.</p>
<p>Email: <a href="">nhsbsa.ohsregistrations@nhs.net</a></p>

{% endblock %}
