{% extends 'layouts/main.html' %}
{% set hideTitle = true %}
{% set hideBackLink = true %}
{% set showCard = false %}
{% set cardTitle %}Your S1 application was rejected{% endset %}
{% set buttonText = 'Finish' %}
{% set buttonHref = '../apply/start-page' %}
{% set showButton = true %}

{% block form %}
<h1 class="nhsuk-heading-l">
    Contact us for help with your application</h1>
<p>We're having problems processing your application. You need to contact us to find out what to do next.</p>

<p>Telephone: <a href="#">+44 (0)191 218 1999</a>
<br>
Monday to Friday, 8am to 6pm</p> 

<p>Email <a href="mailto:s1applications@nhsbsa.nhs.uk">s1applications@nhsbsa.nhs.uk</a></p>
<br>
{% endblock %}
