{% extends 'layouts/forms.html' %}
{% set title %}Check your family member’s details{% endset %}
{% set caption = data.mainCaption %}
{% set errorMessage = 'Select yes if you want to add any family members to your S1 application' %}
{% set idPrefix %}dependant-first-name{% endset -%}
{% set hideBackLink = true %}
{% block beforeContent %}

<div class="updatemessage" style="display: none">
<div class="nhsuk-width-container" >
  
  <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
    <div class="govuk-notification-banner__header">
      <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
        Success
      </h2>
    </div>
    <div class="govuk-notification-banner__content">
      <h3 class="govuk-notification-banner__heading">
        {{data.dependantName2 or "Jane Smith"}} has been removed
      </h3>
    </div>
  </div>
  </div>

</div>
{% endblock %}
{% block form %}

{% include '../apply/_dependant-answers.html' %}


<h2 class="nhsuk-heading-m nhsuk-u-margin-bottom-3 nhsuk-u-margin-top-3 ">Do you want to add another family member?</h2>

{{ radios({
    "idPrefix": idPrefix,
    "hint": {
      "html": hintTextCopy
    },
    "name": "moreDependantsCheck",
    "classes": "nhsuk-radios--inline",
    "errorMessage": {
      "html": errorMessage
    } if data['error'] == 'true',

    "items": [
      {
        "value": "Yes",
        "text": "Yes"
      },
      {
        "value": "No",
        "text": "No"
      }
    ]
  }) }}
  





{% endblock %}
