{% extends 'layouts/main.html' %}
{% set hideTitle = true %}
{% set hideBackLink = true %}
{% set showCard = true %}
{% set cardTitle %}Your S1 application was rejected{% endset %}
{% set buttonText = 'Finish' %}
{% set buttonHref = '../apply/start-page' %}
{% set showButton = true %}

{% block form %}
<p>Based on the information you've given, you are not eligible for an S1 from the UK.</p>
<p>This is because you already have healthcare cover in [Country]. This could be because you:</p>
 
<ul class="nhsuk-list nhsuk-list--bullet">
    <li>have an S1, E121, E106 or E109 form issued by the UK</li>
    <li>are a dependant of a main S1 entitlement holder</li>
</ul>
<h2 class="nhsuk-heading-l">What happens next</h2>

<p> If you have questions about why your application was rejected, 
    you can email us at <a href="mailto:S1applications@nhsbsa.nhs.uk">S1applications@nhsbsa.nhs.uk</a> for help.</p>

{% endblock %}
