{% extends 'layouts/main.html' %}
{% set hideTitle = true %}
{% set hideBackLink = true %}
{% set showCard = true %}
{% set cardTitle %}UK S1 application rejected{% endset %}
{% set buttonText = 'Finish' %}
{% set buttonHref = '../apply/start-page' %}
{% set showButton = true %}

{% block form %}
<p>Based on the information you've given, you are not eligible for an S1 from the UK.</p>
<p>This is because you already have healthcare cover in [Country]. This could be because you:</p>
 
<ul class="nhsuk-list nhsuk-list--bullet">
    <li>have a registered S1, E121, E106 or E109 form issued by the UK</li>
    <li>have an A1 document issued by the UK</li>
    <li>are a dependant registered with a family member's S1</li>
</ul>
<h2 class="nhsuk-heading-l">What happens next</h2>

<p>We've sent an email to [email address] with more information about why your application was rejected 
    and what you can do next. If you do not receive the email within a few minutes, check your spam or 
    junk email folder.</p>

{% endblock %}
