{% extends "layouts/main.html" %}
{% set showButton = true %}
{% set buttonText = 'Start now' %}
{% set buttonHref %}eligibility-country-check {% endset %} 
{% set hideBackLink = true %}


{% block form %}

      <h1>
        {{serviceName or "Apply for healthcare cover for living abroad"}}      
      </h1>
      <p>Use this service to apply for a certificate of entitlement called an S1 to get healthcare cover for living abroad.</p>
      <p>You can also <a href="https://www.nhsbsa.nhs.uk/contact-overseas-healthcare-services">contact us to get help with your application or apply by phone</a>.</p>
     
         <!-- Start of what is covered-->
    <h2>What an S1 covers</h2>
    <p>An S1 entitles you to the same state provided healthcare cover as a resident of the country you’re living in. It does not cover private healthcare.</p>

      {{ warningCallout({
        "heading": "Important",
        "HTML": "
        <p>To get an S1, you must have an address in the country you’re moving to.</p>
        <p>This can be a temporary address but if it changes, you must tell us and the relevant authority in the country you’re moving to. </p>"
      }) }}


    <!-- End of what is covered -->

    <!-- Start of who can use this service -->
    <h2>Who can apply online</h2>
    <p>To apply for an S1 online, you must be:
    <ul>
      <li>living in or moving to an EU country in the next 90 days</li>
      <li>getting paid your UK State Pension or entitled to start getting paid your UK State Pension in the next 90 days</li>
    </ul>
    </p>
   <p> If you’re not sure if you can apply, <a href="https://www.nhsbsa.nhs.uk/contact-overseas-healthcare-services">check the NHS Business Services Authority website for more information about S1 eligibility</a>.</p>      
   
   <h2>Add family members to your application</h2>
    <p>You can add family members to your application as dependants, including your:</p>
    <ul>
      <li>spouse or civil partner</li>
      <li>partner</li>
      <li>children</li>
    </ul>
    <p>If a family member is entitled to an S1 in their own right, they must make a separate application.</p>
    <p>The country you’re moving to will tell you if they accept your family members as dependants when you register your S1 with them.</p>
    
    <!-- End of who can use this service -->

    <!-- Start of before you start -->
    <h2>Before you start</h2>
    <p>You’ll need:</p>
    <ul>
        <li>an email address – if you do not have an email address, you’ll need to <a href="https://www.nhsbsa.nhs.uk/contact-overseas-healthcare-services">contact us</a> to apply</li>
        <li>your National Insurance number</li>
        <li>an address in the country you’re moving to</li>
        <li>dates of birth and addresses for any family members you add to your application</li>
    </ul>
    
    <h2>Evidence</h2>
    <p>We’ll tell you if you need to send us any evidence after you submit your online application.</p>

   <!-- Start of warning callout -->
  {{ warningCallout({
    "heading": "Timeout warning",
    "HTML": "<p>If you leave without submitting your application, it will time out after 30 minutes. Your application will not be saved and you’ll have to start again.</p>"
  }) }}
  <!-- End of warning callout -->


{% endblock %}

