{% extends 'layouts/forms.html' %}
{% set title = 'Check your answers' %}
{% set caption = data.uploadCaption %}
{% set fullWidth = true %}
{% set hideBackLink = true %}
{% set buttonText = 'Accept and submit' %}



{% block form %}
<h2 class="nhsuk-heading-m nhsuk-u-margin-bottom-3 nhsuk-u-margin-top-3 ">Your evidence</h2>

{{ summaryList({
  rows: [
    {
      key: {
        text: 'Files uploaded	'
      },
      value: {
        html: data['ohsNumber'] or 'pension-document.png'
      },
      actions: {
        items: [
          {
            href: "upload-evidence",
            text: "Change",
            visuallyHiddenText: "your OHS reference number"
          }
        ]
      }
    }
  ] 
}) }}



<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <h2 class="nhsuk-heading-m">Before you send your evidence</h2>


    <p>By submitting this evidence, you are confirming that the information you’ve given us is correct. If you knowingly provide incorrect information, you could be prosecuted or face civil proceedings.  </p>
    <p>You can find <a target="_blank" href="https://www.nhsbsa.nhs.uk/our-policies/privacy"> out more about how we use your information on the NHSBSA website</a>.</p>
  </div>
</div>



{% endblock %}
