{% extends 'layout.html' %}

{% block pageTitle %}
  S1 application outcome found
{% endblock %}

{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    <div class="nhsuk-card" style="background-color:#005eb8; color: white; text-align:center;">
        <div class="nhsuk-card__content">
          <h1 class="nhsuk-card__heading">
            S1 application outcome found
          </h1> 
          <br /> 
          <h2><span class="nhsuk-caption-l" style="color:white;">Overseas Healthcare Services (OHS) reference number:</span>25001275</h3>
        </div>
    </div>

    <p>You can download a PDF copy of your letter which confirms that the UK is not the authority responsible for your healthcare.</p>
    <p>This may open in a new window, a new tab, or save to your downloads folder, depending on the browser or device you're using.</p>
    <p><a href="#">Download your letter (PDF, 101KB).</a></p>

    <h2>What happens next</h2>
    
    <p>You may need to print a copy of this if you need to show it to local authorities. If you do, we recommend using a colour printer.</p>
    <p>If you've asked for a copy to be sent by post, you can use this when you receive it.</p>

  </div>
</div>
{% endblock %}