{% extends "layout.html" %}
{% block pageTitle %}

   Check your details are correct

{% endblock %}
{% block beforeContent %}
<!-- Phase banner -->
<!-- <div class="app-phase-banner">
   <div class="nhsuk-width-container app-phase-banner__container">
      <p class="app-phase-banner__content">
         <strong class="nhsuk-tag app-phase-banner__tag">
         Prototype
         </strong>
         <span class="app-phase-banner__text">
         This is a prototype - your <a href="#">feedback</a> will help us improve it.
         </span>
      </p>
   </div>
</div> -->
{% endblock %}
{% block content %}
<div class="nhsuk-grid-row">
   <div class="nhsuk-grid-column-three-quarters">

         <h1 class="nhsuk-heading-l">
            Check your details
         </h1>
         <h2 class="nhsuk-heading-m">
            Your details
         </h2>

         <dl class="nhsuk-summary-list">
            <div class="nhsuk-summary-list__row">
               <dt class="nhsuk-summary-list__key nhsuk-!-width-one-third">
                  Name
               </dt>
               <dd class="nhsuk-summary-list__value">
                  Elisa Lazar
                  <!-- {{ data['upload-firstname'] }} {{ data['upload-lastname'] }} -->
               </dd>
               <dd class="nhsuk-summary-list__actions">
                  <a class="nhsuk-link" href="full-name">
                     Change <span class="nhsuk-u-visually-hidden"></span>
                  </a>
               </dd>
            </div>

            <div class="nhsuk-summary-list__row">
               <dt class="nhsuk-summary-list__key nhsuk-!-width-one-third">
                  Date of birth
               </dt>
               <dd class="nhsuk-summary-list__value">
                  <!-- {{ uploadDobDateFormatted }} -->
                  31 May 1997
               </dd>
               <dd class="nhsuk-summary-list__actions">
                  <a class="nhsuk-link" href="dob">
                     Change <span class="nhsuk-u-visually-hidden"></span>
                  </a>
               </dd>
            </div>

            <div class="nhsuk-summary-list__row">
               <dt class="nhsuk-summary-list__key nhsuk-!-width-one-third">
                  OHS reference number
               </dt>
               <dd class="nhsuk-summary-list__value">
                  25001275
               </dd>
               <dd class="nhsuk-summary-list__actions">
                  <a class="nhsuk-link" href="ohs-number">
                     Change <span class="nhsuk-u-visually-hidden"></span>
                  </a>
               </dd>
            </div>

         <br>

         <h2 class="nhsuk-heading-m">
            Your evidence
         </h2>

         <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key nhsuk-!-width-one-third">
                  File 1
               </dt>
               <dd class="nhsuk-summary-list__value">
                  example_file_name_01.jpg, 2MB
               </dd>
               <dd class="nhsuk-summary-list__actions">
                  
               </dd>
         </div>

         <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key nhsuk-!-width-one-third">
               File 2
            </dt>
            <dd class="nhsuk-summary-list__value">
               example_file_name_02.jpg, 2MB
            </dd>
            <dd class="nhsuk-summary-list__actions">
               
            </dd>
         </div>

         <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key nhsuk-!-width-one-third">
               File 3
            </dt>
            <dd class="nhsuk-summary-list__value">
               example_file_name_03.jpg, 2MB
            </dd>
            <dd class="nhsuk-summary-list__actions">
               <a class="nhsuk-link" href="upload-eea-evidence">
                  Change <span class="nhsuk-u-visually-hidden"></span>
               </a>
            </dd>
            </div>
         </dl>

         <h2>Before you submit your evidence</h2>
         <p>By submitting this evidence, you are confirming that the information you’ve given us is correct. If you knowingly provide incorrect information, you could be prosecuted or face civil proceedings.</p>

         <p>You can <a href="https://www.nhsbsa.nhs.uk/our-policies/privacy" target="_blank">find out more about how we use your information on the NHSBSA website</a>.</p>


         {{ insetText({
            "HTML": "<p>It can take some time for the evidence you submit to upload. You will get confirmation when the upload is complete. </p> <p>Do not close your browser or select ‘Agree and send’ more than once.</p>"
         }) }}

         <a href="app-complete">
            <button class="nhsuk-button" data-module="nhsuk-button" type="submit">
               Agree and send
            </button>
         </a>

      </div>

   </div>
</div>
{% endblock %}