{% extends "layout.html" %}

{% block pageTitle %}
  What is your OHS reference number?
{% endblock %}

{% block beforeContent %}

  <!-- Phase banner -->
  <!-- <div class="app-phase-banner">
    <div class="nhsuk-width-container app-phase-banner__container">
      <p class="app-phase-banner__content">
        <strong class="nhsuk-tag app-phase-banner__tag">
          Prototype
        </strong>
        <span class="app-phase-banner__text">
        This is a prototype - your <a href="#">feedback</a> will help us improve it.
        </span>
      </p>
    </div>
  </div> -->
  
{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-three-quarters">
      <!-- <form action="add-another-yn" method="post"> -->
      <form action="ohs-number-invalid" method="post">

        <div class="nhsuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1">
          <h2 class="nhsuk-error-summary__title" id="error-summary-title">
            There is a problem
          </h2>
          <div class="nhsuk-error-summary__body">
            <ul class="nhsuk-list nhsuk-error-summary__list">
              <li>
                <a href="#ohs">Enter a valid OHS number</a>
              </li>
            </ul>
          </div>
        </div>


        {% call fieldset({
          legend: {
            text: "What is your OHS reference number?",
            classes: "nhsuk-fieldset__legend--l",
            isPageHeading: true
          }
        }) %}

        <p>You can find your OHS reference number on the email we have sent you</p>

        {{ input({
          "label": {
            "text": "OHS reference number"
          },
          "errorMessage": {
            "text": "Enter a valid OHS number"
          },
          "id": "input-width-10",
          "name": "ohs",
          "classes": "nhsuk-input--width-10 nhsuk-input--error"
        }) }}


        {% endcall %}
        <!-- <p><a href="nhs-number">I don't have a National Insurance number</a></p> -->

        {{ button({
          "text": "Continue"
        }) }}

      </form>

     <!-- {{ backLink({
        "href": "dob",
        "text": "Change my previous answer"
      }) }} -->

    </div>
  </div>
{% endblock %}


<!-- 
 hint: {
            html: "For example, ‘1’."
          }, -->
