{% extends 'layout.html' %}

{% block pageTitle %}
  Response submitted
{% endblock %}

{% block beforeContent %}

  <!-- Phase banner -->
  <!-- <div class="app-phase-banner">
    <div class="nhsuk-width-container app-phase-banner__container">
      <p class="app-phase-banner__content">
        <strong class="nhsuk-tag app-phase-banner__tag">
          Prototype
        </strong>
        <span class="app-phase-banner__text">
        This is a prototype - your <a href="#">feedback</a> will help us improve it.
        </span>
      </p>
    </div>
  </div> -->
{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <div class="nhsuk-card" style="background-color:#005eb8; color: white; text-align:center;">
        <div class="nhsuk-card__content">
          <h1 class="nhsuk-card__heading">
            Response submitted
          </h1> 
        </div>
      </div>

      <h2>What happens next</h2>

      <p>We will review your response and contact you to let you know what you need to do next.</p>

        {{ button({
          "text": "Finish"
        }) }}

      </form>
    </div>
  </div>
{% endblock %}