{% extends 'layout.html' %}

{% block pageTitle %}
  Upload evidence for your S1 application
{% endblock %}

{% block beforeContent %}

<!-- Phase banner -->
  <!-- <div class="app-phase-banner">
    <div class="nhsuk-width-container app-phase-banner__container">
      <p class="app-phase-banner__content">
        <strong class="nhsuk-tag app-phase-banner__tag">
          Prototype
        </strong>
        <span class="app-phase-banner__text">
        This is a prototype - your <a href="#">feedback</a> will help us improve it.
        </span>
      </p>
    </div>
  </div> -->
  
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
   <div class="nhsuk-grid-column-two-thirds">
      <h1>Upload evidence for your S1 application</h1>

      <p>Use this service to give evidence either:</p>
      <ul>
         <!-- <li>your right to reside in the UK</li>
         <li>your residency in the UK</li>
         <li>your dual nationality</li>
         <li>your university course details if you are studying in the EU, Norway, Iceland, Liechtenstein or Switzerland</li> -->
         <li>that you are being paid a UK State Pension</li>
         <li>of the years that you have paid pension contributions in the UK and other countries</li>
      </ul>

     <p>You can give evidence for yourself or for someone else.</p>

    <!-- <h2>Before you start</h2>
    <p>We'll ask you for your details including:</p>
    <ul>
        <li>your Overseas Healthcare Services (OHS) reference number, which can be found on your confirmation email</li>
        <li>your National Insurance number</li>
    </ul> -->

      <!-- <div class="nhsuk-inset-text">
         <span class="nhsuk-u-visually-hidden">Information: </span>
         <p>If you’re uploading evidence for someone else on your application, we’ll need to take their details.</p>
      </div> -->

      <a href="ohs-number" class="nhsuk-button nhsuk-u-margin-bottom-8">
        Start now
      </a>

   </div>
</div>
{% endblock %}