{% extends "layout.html" %}

{% block pageTitle %}
  Right to reside in the UK evidence uploaded
{% endblock %}

{% block beforeContent %}

  <!-- Phase banner -->
  <div class="app-phase-banner">
    <div class="nhsuk-width-container app-phase-banner__container">
      <p class="app-phase-banner__content">
        <strong class="nhsuk-tag app-phase-banner__tag">
          Prototype
        </strong>
        <span class="app-phase-banner__text">
        This is a prototype - your <a href="#">feedback</a> will help us improve it.
        </span>
      </p>
    </div>
  </div>
  
{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-three-quarters">
      <!-- <span class="nhsuk-caption-l nhsuk-caption--bottom">Step 1</span> -->
      <form action="addEvidRight" method="post">

        {% call fieldset({
          legend: {
            text: "Right to reside in the UK evidence uploadedd",
            classes: "nhsuk-fieldset__legend--l",
            isPageHeading: true
          }
        }) %}
 <br>
        <h3>Files added</h3>


        <dl class="nhsuk-summary-list">

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            <!-- Passport -->
            {{ data['file-type-1'] }}
          </dt>
          <dd class="nhsuk-summary-list__value">
            <a href="">example_file_name_01.jpg</a>, 2MB
          </dd>
          <dd class="nhsuk-summary-list__actions">
            <a href="#">
              Delete<span class="nhsuk-u-visually-hidden"> </span>
            </a>
          </dd>
        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            <!-- Birth certificate -->
            {{ data['file-type-2'] }}
          </dt>
          <dd class="nhsuk-summary-list__value">
            <a href="">example_file_name_02.jpg</a>, 2MB
          </dd>
          <dd class="nhsuk-summary-list__actions">
            <a href="upload-reside-another-deleted">
              Delete<span class="nhsuk-u-visually-hidden"> </span>
            </a>
          </dd>
        </div>
      </dl>

        <h3>Do you need to add more evidence of {{ data['upload-firstname'] }}'s right to reside in the UK?</h3>

        <p>If you have provided all your evidence for your right to reside in the UK, select no.</p>

        <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras neque purus, ullamcorper et iaculis ut, egestas ornare leo.</p> -->

        {{ radios({
          "idPrefix": "add-evid-right",
          "name": "add-evid-right",
          "classes": "nhsuk-radios--inline",
          "items": [
            {
              "value": "Yes",
              "text": "Yes"
            },
            {
              "value": "No",
              "text": "No"
            }
          ]
        }) }}

        {% endcall %}

        {{ button({
          "text": "Continue"
        }) }}

      </form>

      <div class="nhsuk-back-link">
        <a href="javascript:history.back()">
        <button class="nhsuk-back-link__link">
          <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
            <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
          </svg>
          Change my previous answer</button></a>
      </div>
      
    </div>
  </div>
{% endblock %}
