<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
Apply for an S1 form - Overseas Healthcare Services - NHSBSA
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

        <form action="dependant-check-more" method="post">

            <h1 class="nhsuk-heading-l"><span class="nhsuk-caption-l">Add family members</span> What is {% data['dependant-first-name'] %} {% data['dependant-surname'] %} address?</h1>

            <div class="nhsuk-inset-text">
              <span class="nhsuk-u-visually-hidden">Information: </span>
              <p>You need to tell us the address they live at in {{ data['eligibility-country'] }}. This address will appear on their S1 certificate. This can be a temporary address, but you'll need to contact both the NHS Business Services Authority and the relevant authority in the country you're living in to let them know if their address changes.</p>
            </div>

            <div class="nhsuk-form-group">
                <label class="nhsuk-label" for="example-1">
                  Address line 1
                </label>
                <input class="nhsuk-input" id="example-1" name="example-1" type="text">
              </div>

              <div class="nhsuk-form-group">
                <label class="nhsuk-label" for="example-1">
                  Address line 2 (optional)
                </label>
                <input class="nhsuk-input" id="example-1" name="example-1" type="text">
              </div>

              <div class="nhsuk-form-group">
                <label class="nhsuk-label" for="example-1">
                  Town or City
                </label>
                <input class="nhsuk-input" id="example-1" name="example-1" type="text">
              </div>

              <div class="nhsuk-form-group">
                <label class="nhsuk-label" for="example-1">
                  County, province or region
                </label>
                <input class="nhsuk-input" id="example-1" name="example-1" type="text">
              </div>

              <div class="nhsuk-form-group">
                <label class="nhsuk-label" for="example-1">
                  Postcode
                </label>
                <input class="nhsuk-input" id="example-1" name="example-1" type="text">
              </div>

              <div class="nhsuk-form-group">
                <label class="nhsuk-label" for="example-1">
                  Country
                </label>
                <input class="nhsuk-input" id="example-1" name="example-1" type="text">
              </div>

            <button class="nhsuk-button" data-module="nhsuk-button" type="submit">
                Continue
            </button>

        </form>

        <div class="nhsuk-back-link">
            <a href="javascript:history.back()">
            <button class="nhsuk-back-link__link">
              <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
                <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
              </svg>
              Change my previous answer</button></a>
          </div>

    </div>
</div>
{% endblock %}