{% extends 'layouts/main.html' %}
{% set hideTitle = true %}
{% set hideBackLink = true %}
{% set showCard = true %}
{% set cardTitle %} You are entitled to an S1 form for healthcare cover {% endset %}
{% set buttonText = 'Finish' %}
{% set buttonHref = '../apply/email-success' %}
{% set showButton = true %}

{% block form %}
<p>You are entitled to an S1 form for healthcare cover. .</p>

<h2 class="nhsuk-heading-l">What happens next</h2>
<p>We’ve sent you a confirmation email with a link to download your S1 form and a letter with information about registering and using your S1 form.</p>

<h2 class="nhsuk-heading-l">Your healthcare cover</h2>
<p>Your healthcare cover in {{ data['countrySOne'] or 'Germany'}} will start when you register your S1 form with the relevant health authority there. This may take some time and we advise you to think about getting private medical insurance to help with the cost of any treatment you may need before your S1 is registered. </p>

{% endblock %}
