{% extends 'layouts/forms.html' %}
{% set title %}When will you move to  {{ data.countrySOne or 'Germany'}}?{% endset %}
{% set caption = data.eligibilityCaption %}
{% set errorMessage %}
  {% include '../apply/_error-move-content.html' %}
{% endset %}
{% set idPrefix %}eligibility-move-date-plan{% endset -%}

{% block form %}
{{ dateInput({
  "id": idPrefix,
  "hint": {
    "text": "For example, 15 3 2023"
  },
  "errorMessage": {
    "html": 'Date of moving must include a day, month and year'
  } if data['error'] == 'true',
  "items": [
    {
      "name": "futureDay",
      "label": "Day",
      "value": data['futureDay'],
      "classes": "nhsuk-input--width-2"
    },
    {
      "name": "futureMonth",
      "label": "Month",
      "value": data['futureMonth'],
      "classes": "nhsuk-input--width-2"
    },
    {
      "name": "futureYear",
      "label": "Year",
      "value": data['futureYear'],
      "classes": "nhsuk-input--width-4"
    }
  ]
}) }}


{% endblock %}
