{% extends "layouts/main.html" %}
{% set showButton = true %}
{% set buttonText = 'Start now' %}
{% set buttonHref %}eligibility-country-check {% endset %} 
{% set hideBackLink = true %}


{% block form %}

      <h1>
        {{serviceName}}      
      </h1>
      <p>Apply for a certificate of entitlement called an S1 form to get healthcare cover when living or moving abroad.</p>

      {{ warningCallout({
        "heading": "Important",
        "HTML": "
        <p>To get an S1 form, you must have an address in the country you’re moving to.</p>
        <p>This can be a temporary address but if it changes, you must tell us and the relevant authority in the country you’re moving to. <a href='https://www.nhsbsa.nhs.uk/contact-overseas-healthcare-services'>Find out how to contact us on our website</a>.</p>
        <p>We can send the from to your UK address if you need it for your visa application.</p>"
      }) }}

    <!-- Start of what is covered-->
    <h2>What does an S1 form cover?</h2>
    <p>An S1 form entitles you to the same state provided health cover as a resident of the country you’re moving to.</p>
    <p>It does not cover private healthcare.</p>
    <!-- End of what is covered -->

    <!-- Start of who can use this service -->
    <h2>Who can use this online service?</h2>
    <p>To apply for an S1 form online, you must be:
    <ul>
      <li>permanently living in or moving to an EU country in the next 90 days</li>
      <li>getting paid your UK State Pension or entitled to start getting paid your UK State Pension in the next 90 days</li>
    </ul>
    </p>
    <p>If you are moving to Switzerland, Norway, Iceland or Liechtenstein, you may be eligible for an S1 form, but you cannot apply online. You’ll need to <a href="https://www.nhsbsa.nhs.uk/contact-overseas-healthcare-services">contact us to apply</a>.</p>
    <p>If you think you are entitled to an S1 form but you’re not getting paid your UK State Pension, you can <a href="https://www.nhsbsa.nhs.uk/healthcare-cover-when-moving-abroad">find out about planning your healthcare cover abroad on our website</a>. </p>
    
    <h2>Family members</h2>
    <p>You can add family members to your application as dependants, including your:</p>
    <ul>
      <li>spouse or civil partner</li>
      <li>partner</li>
      <li>children</li>
    </ul>
    <p>If a family member is entitled to an S1 in their own right, they must make a separate application.</p>
    <p>The country you’re moving to will tell you if they accept your family members as dependants when you register your S1 form with them.</p>
    
    <!-- End of who can use this service -->

    <!-- Start of before you start -->
    <h2>Before you start</h2>
    <p>You’ll need:</p>
    <ul>
        <li>an email address</li>
        <li>your National Insurance number</li>
        <li>an address in the country you’re moving to</li>
        <li>dates of birth and addresses for any family members you add to your application</li>
    </ul>
    
    <h2>Evidence</h2>
    <p>We will tell you if you need to send us any evidence after you submit your online application.</p>

   <!-- Start of warning callout -->
  {{ warningCallout({
    "heading": "Timeout warning",
    "HTML": "<p>If you leave without submitting your application, it will time out after 30 minutes. Your application will not be saved and you’ll have to start again.</p>"
  }) }}
  <!-- End of warning callout -->


{% endblock %}

