{% extends 'layouts/forms.html' %}
{% set title %}What is your date of birth?{% endset %}
{% set caption = data.mainCaption %}
{% set idPrefix %}eligibility-move-date-plan{% endset -%}
{% set errorMessage %}
  {% include 'v1/apply/_error-dob-content.html' %}
{% endset %}


{% block form %}
{{ dateInput({
  "id": idPrefix,
  "hint": {
    "text": "For example, 15 3 1984"
  },
  "errorMessage": {
    "html": 'Date of birth must include a valid day, month and year '
  } if data['error'] == 'true',
  "items": [
    {
      "name": "example-day",
      "value": data['example-day'],
      "label": "Day",
      "classes": "nhsuk-input--width-2"
    },
    {
      "name": "example-month",
      "value": data['example-month'],
      "label": "Month",
      "classes": "nhsuk-input--width-2"
    },
    {
      "name": "example-year",
      "value": data['example-year'],
      "label": "Year",
      "classes": "nhsuk-input--width-4"
    }
  ]
}) }}


{% endblock %}
