{% extends 'layouts/forms.html' %}
{% set title %}What is your date of birth?{% endset %}
{% set caption = data.mainCaption %}
{% set errorMessage %}

<p>Date of birth must include a valid day</p>
<p>Date of birth must include a valid month</p>
<p>Date of birth must include a valid year</p>

{% endset %}
{% set idPrefix %}eligibility-move-date-plan{% endset -%}


{% block form %}
{{ dateInput({
  "id": idPrefix,
  "hint": {
    "text": "For example, 15 3 1984"
  },
  "errorMessage": {
    "html": 'Date of birth must include a valid day, month and year '
  } if data['error'] == 'true',
  "items": [
    {
      "name": "example-day",
      "label": "day",
      "classes": "nhsuk-input--width-2"
    },
    {
      "name": "example-month",
      "label": "month",
      "classes": "nhsuk-input--width-2"
    },
    {
      "name": "example-year",
      "label": "year",
      "classes": "nhsuk-input--width-4"
    }
  ]
}) }}


{% endblock %}
