{% extends 'layouts/forms.html' %}
{% set title = 'Check your answers' %}
{% set caption = data.mainCaption %}
{% set fullWidth = true %}
{% set hideBackLink = true %}
{% set buttonText = 'Continue' %}



{% block form %}
<h2 class="nhsuk-heading-m nhsuk-u-margin-bottom-3 nhsuk-u-margin-top-3 ">Personal details</h2>
<hr class="nhsuk-u-margin-bottom-0 nhsuk-u-margin-top-0">
{% include 'v1/apply/_applicant-answers.html' %}

{%- if data['dependantCheck'] == 'Yes' -%}
  <h2 class="nhsuk-heading-m nhsuk-u-margin-bottom-3 nhsuk-u-margin-top-3 ">Dependant details</h2>
  <hr class="nhsuk-u-margin-bottom-0 nhsuk-u-margin-top-0">
  {% include 'v1/apply/_dependant-answers.html' %}

{% endif %}






{% endblock %}
