<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
Apply for an S1 form - Overseas Healthcare Services - NHSBSA
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

        <form action="applicant-correspondence-address-country-error" method="post">

          <div class="nhsuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1">
            <h2 class="nhsuk-error-summary__title" id="error-summary-title">
              There is a problem
            </h2>
            <div class="nhsuk-error-summary__body">
              <ul class="nhsuk-list nhsuk-error-summary__list">
                <li>
                  <a href="#country">Enter a valid country</a>
                </li>
              </ul>
            </div>
          </div>

            <h1 class="nhsuk-heading-l"><span class="nhsuk-caption-l">Main application</span>What will be your address in {{ data['countrySOne'] }}?</h1>

            <div class="nhsuk-inset-text">
              <span class="nhsuk-u-visually-hidden">Information: </span>
              <p>	
                You need to tell us the address you will be living at in {{ data['countrySOne'] }}. This address will appear on your S1 certificate. This can be a temporary address, but you'll need to contact both the NHS Business Services Authority and the relevant authority in the country you're living in to let them know if your address changes.               </p>
            </div>

            <div class="nhsuk-form-group">
                <label class="nhsuk-label" for="address-line-one">
                  Address line 1
                </label>
                
                <input class="nhsuk-input" id="address-line-one" name="corrAddressLineOne" type="text">
              </div>

              <div class="nhsuk-form-group">
                <label class="nhsuk-label" for="example-1">
                  Address line 2 (optional)
                </label>
                <input class="nhsuk-input" id="city" name="corrAddressLineTwo" type="text">
              </div>

              <div class="nhsuk-form-group">
                <label class="nhsuk-label" for="city">
                  Town or City
                </label>
                <input class="nhsuk-input" id="example-1" name="corrCity" type="text">
              </div>

              <div class="nhsuk-form-group">
                <label class="nhsuk-label" for="example-1">
                  County, province or region
                </label>
                <input class="nhsuk-input" id="example-1" name="corrCounty" type="text">
              </div>

              <div class="nhsuk-form-group">
                <label class="nhsuk-label" for="postcode">
                  Postcode
                </label>
                
                <input class="nhsuk-input" id="postcode" name="corrPostcode" type="text">
              </div>

              <div class="nhsuk-form-group  nhsuk-form-group--error">
                <label class="nhsuk-label" for="country">
                  Country
                </label>
                <span class="nhsuk-error-message" id="location-error">
                  <span class="nhsuk-u-visually-hidden">Error:</span> Enter a valid country
                </span>

                <input class="nhsuk-input nhsuk-input--error" id="country" name="corrCountry" type="text">
              </div>

            <button class="nhsuk-button" data-module="nhsuk-button" type="submit">
                Continue
            </button>

        </form>

    </div>
</div>
{% endblock %}