<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
Apply for an S1 form - Overseas Healthcare Services - NHSBSA
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}


{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <div class="nhsuk-card" style="background-color:#005eb8; color: white; text-align:center;">
          <div class="nhsuk-card__content">
            <h1 class="nhsuk-card__heading">
              Your S1 form application has been submitted
            </h1> 
            <br /> 
            <h2><span class="nhsuk-caption-l" style="color:white;">Overseas Healthcare Services (OHS) reference number:</span>25001275</h3>
          </div>
      </div>

      <h3>What happens next</h3>
      <p>We have sent an email to the address you gave us.</p>
      <p>We will now check your information and let you know if your application is successful.</p>

      <h3>Evidence</h3>
      <p>We will contact you if you need to send us any evidence.</p>

      <h3>Your healthcare cover</h3>
      <p>If your application is successful, your healthcare cover in {{ data['countrySOne']}} will start when you register your S1 form with the relevant health authority there. This may take some time and we advise you to think about getting private medical insurance to help with the cost of any treatment you may need before your S1 is registered.</p>

    </div>
</div>
{% endblock %}