<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
Apply for an S1 form - Overseas Healthcare Services - NHSBSA
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

        <form action="dependant-name" method="post">

            <h1 class="nhsuk-heading-l"><span class="nhsuk-caption-l">Add family members</span>	
              Who do you want to add to your application?</h1>

            <div class="nhsuk-form-group">
              <div class="nhsuk-hint">
                Give their name as it appears in your passport. This will help when they registering their S1 certificate.
              </div>
                <label class="nhsuk-label" for="dependant-first-name">
                  First or given names
                </label>
                <input class="nhsuk-input" id="dependant-first-name" name="dependantFirstName" type="text">
              </div>

              <div class="nhsuk-form-group">
                <label class="nhsuk-label" for="dependant-surname">
                  Last or family name
                </label>
                <input class="nhsuk-input" id="dependant-surname" name="dependantSurname" type="text">
              </div>


            <button class="nhsuk-button" data-module="nhsuk-button" type="submit">
                Continue
            </button>

        </form>

    </div>
</div>
{% endblock %}