<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
Apply for an S1 form - Overseas Healthcare Services - NHSBSA
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

        <form action="eligibility-country-check" method="post">
            <div class="nhsuk-form-group">
                <fieldset class="nhsuk-fieldset">
                    <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
                        <h1 class="nhsuk-fieldset__heading">
                            <span class="nhsuk-caption-l">Eligibility</span>
                            	Are you permanently living or moving outside the UK?
                        </h1>
                    </legend>

                    <!-- <div class="nhsuk-hint">
                        If you are planning to move and live for only 3-6 months in an EU or EEA, that does not constitute permanent residency.
                    </div> -->

                    <!-- <details class="nhsuk-details">
                        <summary class="nhsuk-details__summary">
                          <span class="nhsuk-details__summary-text">
                            Countries in the EU and EEA 
                          </span>
                        </summary>
                        <div class="nhsuk-details__text">
                          <h5>EU countries</h5>
                          <p>The EU countries are:</p>
                          <p>
                            Austria, Belgium, Bulgaria, Croatia, Republic of Cyprus, Czech Republic, Denmark, Estonia, Finland, France, Germany, Greece, Hungary, Ireland, Italy, Latvia, Lithuania, Luxembourg, Malta, Netherlands, Poland, Portugal, Romania, Slovakia, Slovenia, Spain and Sweden.
                          </p>
                          <br>
                          <h5>The European Economic Area (EEA)</h5>
                          <p>
                            The EEA includes EU countries and also Iceland, Liechtenstein and Norway. It allows them to be part of the EU’s single market.
                          </p>
                          <p>
                            Switzerland is not an EU or EEA member but is part of the single market. This means Swiss nationals have the same rights to live and work in the UK as other EEA nationals.
                          </p>
                        </div>
                    </details> -->

                    <div class="nhsuk-radios">

                        <div class="nhsuk-radios__item">
                            <input class="nhsuk-radios__input" id="eu-country-live-yes" name="liveEU" type="radio"
                                value="Yes" aria-controls="conditional-eu-country" aria-expanded="false">
                            <label class="nhsuk-label nhsuk-radios__label" for="eu-country-live-yes">
                                Yes
                            </label>
                            
                        </div>


                        <div class="nhsuk-radios__item">
                            <input class="nhsuk-radios__input" id="eu-country-live-no" name="liveEU" type="radio"
                                value="No">
                            <label class="nhsuk-label nhsuk-radios__label" for="eu-country-live-no">
                                No
                            </label>
                        </div>

                    </div>
                </fieldset>
            </div>

            <button class="nhsuk-button" data-module="nhsuk-button" type="submit">
                Continue
            </button>

        </form>


    </div>
</div>
{% endblock %}