{% extends 'layouts/forms.html' %}
{% set title = 'Download the outcome of your S1 application' %}
{% set hideBackLink = true %}
{% set hidecaption = true %}
{% set showFontXl = true %}
{% set buttonText = 'Start now' %}

{% block form %}
<p class="nhsuk-u-padding-top-6">Use this service to download a digital copy of the outcome of your S1 application.</p>
<h2 class="nhsuk-heading-l">Before you start</h2>
<p>We'll ask you for your details, including:</p>
<ul class="nhsuk-list nhsuk-list--bullet">
    <li>
        your OHS reference number – you can find this on the email we sent you
    </li>
    <li>
        your name    
    </li>
    <li>
        your date of birth    
    </li>
    <li>
        your National Insurance number    
    </li>
</ul>
<p>You'll then be able to download a copy of your outcome as a PDF.</p>

{% endblock %}
