<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
Apply for an S1 form - Overseas Healthcare Services - NHSBSA
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}


{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

          
<h1 class="nhsuk-heading-l">
  You need to contact us to apply for an S1 for healthcare cover</h1>

  <p>You may be entitled to an S1 for healthcare cover while living abroad. However, you cannot apply online. </p>
  <p>This is because you are not moving to an EU country and we may need to ask you for more information or evidence to check your eligibility.</p>
  <p>You’ll need to <a href="https://www.nhsbsa.nhs.uk/contact-overseas-healthcare-services">contact us to make an application</a>.</p>

    </div>
</div>
{% endblock %}