<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
Apply for an S1 form - Overseas Healthcare Services - NHSBSA
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

<style>

	/* autocomplete */

	@media (min-width: 40.0625em) {
    .nhsuk-form-group .autocomplete__wrapper {
       max-width: 74ex;
    }}

	@media (min-width: 641px) {
		.autocomplete__hint, .autocomplete__input, .autocomplete__option {
		font-size: 19px;
		line-height: 1.31579;
		}
	}

	.autocomplete__hint, .autocomplete__input, .autocomplete__option {
		font-size: 16px;
		line-height: 1.25;
	}

	.autocomplete__input--default {
		padding: 5px;
	}

	.autocomplete__input {
		background-color: transparent;
		position: relative;
    border-color: #d5281b;
	}

	.autocomplete__hint, .autocomplete__input {
		
		border: 2px solid #d5281b;
		border-radius: 0;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		margin-bottom: 0;
		width: 100%;
	}

	button, input, select, textarea {
		font-family: inherit;
	}

	*, *:before, *:after {
		-moz-box-sizing: inherit;
		-webkit-box-sizing: inherit;
		box-sizing: inherit;
	}
	
	input {
		writing-mode: horizontal-tb !important;
		text-rendering: auto;
		color: fieldtext;
		letter-spacing: normal;
		word-spacing: normal;
		line-height: normal;
		text-transform: none;
		text-indent: 0px;
		text-shadow: none;
		display: inline-block;
		text-align: start;
		appearance: auto;
		-webkit-rtl-ordering: logical;
		cursor: text;
		background-color: field;
		margin: 0em;
		padding: 1px 2px;
		border-width: 2px;
		border-style: inset;
		border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
		border-image: initial;
	}

	/* end of autocomplete */
	
</style>

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

        <div class="nhsuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1">
            <h2 class="nhsuk-error-summary__title" id="error-summary-title">
              There is a problem
            </h2>
            <div class="nhsuk-error-summary__body">
              <ul class="nhsuk-list nhsuk-error-summary__list">
                <li>
                  <a href="#eu-location-picker">Enter the countries you are receiving State Pension from.</a>
                </li>
              </ul>
            </div>
          </div>

        <form action="eligibility-eu-country-state-pension-error" method="post">
            <div class="nhsuk-form-group nhsuk-form-group--error">
                <fieldset class="nhsuk-fieldset">
                    <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
                        <h1 class="nhsuk-fieldset__heading">
                            <span class="nhsuk-caption-l">Eligibility</span>
                            Which countries do you get a State Pension from, other than the UK?
                        </h1>
                    </legend>

                    <div class="nhsuk-hint">Enter an EU country, Switzerland, Norway, Iceland or Liechtenstein.</div>

                    <div class="nhsuk-form-group form-group" id="appendableEUSP">
                      
                        <label class="nhsuk-label" for="eu-eligibility-country">
                          Country name
                        </label>
                        <span class="nhsuk-error-message" id="location-error">
                            <span class="nhsuk-u-visually-hidden">Error:</span>Enter the countries you are receiving State Pension from.
                         </span>
                        <select id="eu-location-picker" class="eu-eligibility-country nhsuk-input--error" name="myInputsEUSP[]" type="text">
                            <option value=""></option>
                            <option value="Austria">Austria</option>
                            <option value="Belgium">Belgium</option>
                            <option value="Bulgaria">Bulgaria</option>
                            <option value="Croatia">Croatia</option>
                            <option value="Cyprus">Cyprus</option>
                            <option value="Czech Republic">Czech Republic</option>
                            <option value="Denmark">Denmark</option>
                            <option value="Estonia">Estonia</option>
                            <option value="Finland">Finland</option>
                            <option value="France">France</option>
                            <option value="Germany">Germany</option>
                            <option value="Greece">Greece</option>
                            <option value="Hungary">Hungary</option>
                            <option value="Iceland">Iceland</option>
                            <option value="Ireland">Ireland</option>
                            <option value="Italy">Italy</option>
                            <option value="Latvia">Latvia</option>
                            <option value="Liechtenstein">Liechtenstein</option>
                            <option value="Lithuania">Lithuania</option>
                            <option value="Luxemburg">Luxemburg</option>
                            <option value="Malta">Malta</option>
                            <option value="Netherlands">Netherlands</option>
                            <option value="Norway">Norway</option>
                            <option value="Poland">Poland</option>
                            <option value="Portugal">Portugal</option>
                            <option value="Romania">Romania</option>
                            <option value="Slovakia">Slovakia</option>
                            <option value="Slovenia">Slovenia</option>
                            <option value="Spain">Spain</option>
                            <option value="Sweden">Sweden</option>
                            <option value="Switzerland">Switzerland</option>
                        </select>
                        <a style="margin-top: 1.5rem; margin-bottom: 0;" class="nhsuk-button nhsuk-button--secondary" href="#" type="button" value="+" onClick="return addInputEUSP(this)">+ Add another country</a>
                    </div>

                   
                </fieldset>
            </div>

            <button class="nhsuk-button" data-module="nhsuk-button" type="submit">
                Continue
            </button>

        </form>

        <div class="nhsuk-back-link">
            <a href="javascript:history.back()">
            <button class="nhsuk-back-link__link">
              <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
                <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
              </svg>
              Change my previous answer</button></a>
          </div>

    </div>
</div>
{% endblock %}