<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
Apply for an S1 form - Overseas Healthcare Services - NHSBSA
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <div class="nhsuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1">
        <h2 class="nhsuk-error-summary__title" id="error-summary-title">
          There is a problem
        </h2>
        <div class="nhsuk-error-summary__body">
          
          <ul class="nhsuk-list nhsuk-error-summary__list" role="list">
            
            <li>
              <a href="#future-month">Date of moving must include a month</a>
            </li>
            
          </ul>
        </div>
      </div>

        <form action="eligibility-move-date-plan-month-error" method="post">

            <div class="nhsuk-form-group--error">
                <fieldset class="nhsuk-fieldset" aria-describedby="example-hint" role="group">
                  <legend class="nhsuk-fieldset__legend nhsuk-label--l">
                    <h1 class="nhsuk-fieldset__heading">
                        <span class="nhsuk-caption-l">Eligibility</span>
                        When will you move to {{ data['countrySOne']}}?
                    </h1>
                  </legend>
                  <div class="nhsuk-hint" id="example-hint">
                    For example 15 7 2023.
                  </div>

                  <span class="nhsuk-error-message">
                    <span class="nhsuk-u-visually-hidden">Error:</span>
                    Date of moving must include a month
                  </span>
              
                  <div class="nhsuk-date-input" id="example">
                    <div class="nhsuk-date-input__item">
                      <div class="nhsuk-form-group">
                        <label class="nhsuk-label nhsuk-date-input__label" for="future-day">
                          Day
                        </label>
                        <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="future-day" name="futureDay" type="text" pattern="[0-9]*" inputmode="numeric">
                      </div>
                    </div>
                    <div class="nhsuk-date-input__item">
                      <div class="nhsuk-form-group">
                        <label class="nhsuk-label nhsuk-date-input__label" for="future-month">
                          Month
                        </label>
                        <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2 nhsuk-input--error" id="future-month" name="futureMonth" type="text" pattern="[0-9]*" inputmode="numeric">
                      </div>
                    </div>
                    <div class="nhsuk-date-input__item">
                      <div class="nhsuk-form-group">
                        <label class="nhsuk-label nhsuk-date-input__label" for="future-year">
                          Year
                        </label>
                        <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4" id="future-year" name="futureYear" type="text" pattern="[0-9]*" inputmode="numeric">
                      </div>
                    </div>
                  </div>
                </fieldset>
              
              </div>

              <br>

            <button class="nhsuk-button" data-module="nhsuk-button" type="submit">
                Continue
            </button>

        </form>

        <div class="nhsuk-back-link">
            <a href="javascript:history.back()">
            <button class="nhsuk-back-link__link">
              <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
                <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
              </svg>
              Change my previous answer</button></a>
          </div>

    </div>
</div>
{% endblock %}