<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
Apply for an S1 form - Overseas Healthcare Services - NHSBSA
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds" style="width: fit-content;">

    <h1 class="nhsuk-heading-l">
      <span class="nhsuk-caption-l">Eligibility</span>
      Check your answers
    </h1>

    <dl class="nhsuk-summary-list">

      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Are you permanently living or moving outside the UK?
        </dt>
        <dd class="nhsuk-summary-list__value">
          Yes
        </dd>
        <dd class="nhsuk-summary-list__actions">
          <a href="#">
            Change<span class="nhsuk-u-visually-hidden"> if the applicant permanently living or moving outside the UK</span>
          </a>
        </dd>
      </div>

      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Which country are you living in or moving to?
        </dt>
        <dd class="nhsuk-summary-list__value">
          {{ data['countrySOne']}}
        </dd>
        <dd class="nhsuk-summary-list__actions">
          <a href="#">
            Change<span class="nhsuk-u-visually-hidden"> which country is the applicant applying for?</span>
          </a>
        </dd>
      </div>

      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Are you already living in {{ data['countrySOne']}}?
        </dt>
        <dd class="nhsuk-summary-list__value">
          No
        </dd>
        <dd class="nhsuk-summary-list__actions">
          <a href="#">
            Change<span class="nhsuk-u-visually-hidden"> has the applicant already moved to {{ data['countrySOne']}}?</span>
          </a>
        </dd>
      </div>


      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          When are you planning to move to {{ data['countrySOne'] }}?
        </dt>
        <dd class="nhsuk-summary-list__value">
          {{ liveDateFormatted }}
        </dd>
        <dd class="nhsuk-summary-list__actions">
          <a href="#">
            Change<span class="nhsuk-u-visually-hidden"> what date is the applicant moving to {{ data['countrySOne'] }}?</span>
          </a>
        </dd>
      </div>

      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key" style="width:80%">
          Are you being paid a UK State Pension, or will you be paid your UK State Pension before {{ ninetyDaysFromNow }}?
        </dt>
        <dd class="nhsuk-summary-list__value">
          Yes
        </dd>
        <dd class="nhsuk-summary-list__actions">
          <a href="#">
            Change<span class="nhsuk-u-visually-hidden"> does the applicant receive a UK State pension, or will they receive this within the next {{ ninetyDaysFromNow }}?</span>
          </a>
        </dd>
      </div>

      {% if data['countrySOne'] == 'Germany' %}
        <!-- Have you paid Statutory Health Contributions to Germany? -->
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key" style="width:80%">
            Have you paid Statutory Health Contributions to Germany?
          </dt>
          <dd class="nhsuk-summary-list__value">
            {{ data['germanyContributions']}}
          </dd>
          <dd class="nhsuk-summary-list__actions">
            <a href="#">
              Change<span class="nhsuk-u-visually-hidden"> if the applicant has paid Statutory Health Contributions to Germany</span>
            </a>
          </dd>
        </div>
      {% endif %}

      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key" style="width:80%">
          Do you get a State Pension from {{ data['countrySOne'] }}?
        </dt>
        <dd class="nhsuk-summary-list__value">
          No
        </dd>
        <dd class="nhsuk-summary-list__actions">
          <a href="#">
            Change<span class="nhsuk-u-visually-hidden"> does the applicant receive a State pension from {{ data['countrySOne'] }}?</span>
          </a>
        </dd>
      </div>

      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Do you also get a State Pension from an EU country, Norway, Iceland, Liechtenstein or Switzerland?
        </dt>
        <dd class="nhsuk-summary-list__value">
          {{ data['euStatePension'] }}
        </dd>
        <dd class="nhsuk-summary-list__actions">
          <a href="#">
            Change<span class="nhsuk-u-visually-hidden"> does the applicant get a state pension from a EEA country or Switzerland?</span>
          </a>
        </dd>
      </div>

      {% if data['euStatePension'] == 'Yes' %}
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Which countries do you get a State Pension from, other than the UK?
        </dt>
        <dd class="nhsuk-summary-list__value">
          {% for i in data['myInputsEUSP']%}
            {{i}}<br>
          {% endfor %}
        </dd>
        <dd class="nhsuk-summary-list__actions">
          <a href="#">
            Change<span class="nhsuk-u-visually-hidden"> does the applicant get a state pension from a EEA country or Switzerland?</span>
          </a>
        </dd>
      </div>
      
      <!-- <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Is your UK State Pension less than the State Pension you receive from the following countries?
        </dt>
        <dd class="nhsuk-summary-list__value">
          {{ data['euPensionAmount']}}
        </dd>
        <dd class="nhsuk-summary-list__actions">
          <a href="#">
            Change<span class="nhsuk-u-visually-hidden"> is this pension more than that state pension received from the
              UK?</span>
          </a>
        </dd>
      </div> -->
      {% endif %}
      

    </dl>

    <a href="../apply/applicant-name">
      <button class="nhsuk-button" data-module="nhsuk-button" type="submit">
        Continue
      </button>
    </a>


  </div>
</div>
{% endblock %}