{% extends 'layouts/forms.html' %}
{% set title %}Are you being paid a UK State Pension, or will you be paid your UK State Pension before {{ ninetyDaysFromNow or '22 May 2024'}}?{% endset %}
{% set caption = data.eligibilityCaption %}



{% block form %}
{{ radios({
    "idPrefix": "ukStatePension",
    "name": "ukStatePension",

    "items": [
      {
        "value": "Yes",
        "text": "Yes"
      },
      {
        "value": "No",
        "text": "No"
      }
    ]
  }) }}


{% endblock %}
