{% extends 'layouts/main.html' %}
{% set title = data.ineligible %}
{% set caption = data.eligibilityCaption %}
{% set backLink = true %}



{% block form %}
  
<ul class="nhsuk-list">
 
  <p> To be entitled to an S1 for healthcare cover, you must be either:</p>
  <ul class="nhsuk-list nhsuk-list--bullet">
    <li>
      permanently living in an EU country, Switzerland, Norway, Iceland, or Liechtenstein
    </li>
    <li>
      permanently moving to an EU country, Switzerland, Norway, Iceland, or Liechtenstein in the next 90 days
    </li>
  </ul>

</ul>
{% endblock %}


