{% extends 'layouts/forms.html' %}
{% set title %}When will you move to  {{ data.countrySOne or 'Germany'}}?{% endset %}
{% set caption = data.eligibilityCaption %}



{% block form %}
{{ dateInput({
  "id": "eligibility-move-date-plan",
  "namePrefix": "example",
  "hint": {
    "text": "For example, 15 3 2023"
  },
  "items": [
    {
      "name": "day",
      "classes": "nhsuk-input--width-2"
    },
    {
      "name": "month",
      "classes": "nhsuk-input--width-2"
    },
    {
      "name": "year",
      "classes": "nhsuk-input--width-4"
    }
  ]
}) }}


{% endblock %}
