{% extends 'layouts/forms.html' %}
{% set title = 'Are you permanently living or moving outside the UK?' %}
{% set caption = data.eligibilityCaption %}
{% set errorMessage = 'Select yes if you are permanently living or moving outside of the UK' %}
{% set idPrefix %}eligibility-country-check{% endset -%}
{% set hideBackLink = true %}

{% block form %}

{{ radios({
    "idPrefix": idPrefix,
    "name": "liveEU",
    "errorMessage": {
      "html": errorMessage
    } if data['error'] == 'true',

    "items": [
    {
        "value": "Yes",
        "text": "Yes",
        "checked": data.liveEU === 'Yes'
    },
    {
        "value": "No",
        "text": "No",
        "checked": data.liveEU === 'No'
    }
  ]
  }) }}
 
 

{% endblock %}
