{% extends 'layouts/forms.html' %}
{% set title %}When will you move to  {{ data.countrySOne or 'Germany'}}?{% endset %}
{% set caption = data.eligibilityCaption %}
{% set errorMessage %}

<ul class="nhsuk-list">
  <li>
    Date of moving must include a day
  </li>
  <li>
    Date of moving must include a month
  </li>
  <li>
    Date of moving must include a year
  </li>
</ul>
{% endset %}
{% set idPrefix %}eligibility-move-date-plan{% endset -%}


{% block form %}
{{ dateInput({
  "id": idPrefix,
  "hint": {
    "text": "For example, 15 3 2023"
  },
  "errorMessage": {
    "html": 'Date of moving must include a day, month and year'
  } if data['error'] == 'true',
  "items": [
    {
      "name": "futureDay",
      "label": "Day",
      "classes": "nhsuk-input--width-2"
    },
    {
      "name": "futureMonth",
      "label": "Month",
      "classes": "nhsuk-input--width-2"
    },
    {
      "name": "futureYear",
      "label": "Year",
      "classes": "nhsuk-input--width-4"
    }
  ]
}) }}


{% endblock %}
