<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
Apply for an S1 form - Overseas Healthcare Services - NHSBSA
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
      <h1>
        Overseas Healthcare Services
        <span class="nhsuk-caption-xl nhsuk-caption--bottom">S1 Online</span>
      </h1>

      {% if data|length %}
        <table class="nhsuk-table">
          <caption class="nhsuk-table__caption">Session data</caption>
          <thead role="rowgroup" class="nhsuk-table__head">
            <tr role="row">
              <th role="columnheader" scope="col">Key</th>
              <th role="columnheader" scope="col">Value</th>
            </tr>
          </thead>
          <tbody class="nhsuk-table__body">
            {% for key, value in data %}
              <tr role="row" class="nhsuk-table__row">
                <td class="nhsuk-table__cell">{{ key }}</td>
                <td class="nhsuk-table__cell">{{ value }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      {% else %}
      <span class="nhsuk-error-message">
        <span class="nhsuk-u-visually-hidden">Error:</span> Session is empty
      </span>
      {% endif %}
    </div>
  </div>
{% endblock %}
