<!-- Extends the layout from /views/layout.html -->
{% extends "layouts/layout.html" %}


<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
      <h1>
        {{data.serviceNameTesting or 'Apply for an S1 form'}}
    
      </h1>
      <hr>

      <h2>
        Project aim
      </h2>
      <p class="nhsuk-body-l">
        Enable users to apply online directly for a certificate of entitlement known as an S1 form
      </p>
      <h3>
        Alpha
      </h3>







      <div class="nhsuk-card">
        <div class="nhsuk-card__content">
            <details class="nhsuk-details" open>
                <summary class="nhsuk-details__summary">
                  <span class="nhsuk-details__summary-text">
                    18 Mar 2025 
                  </span>- (V3)
                </summary>
                <div class="nhsuk-details__text">
                  <h3>Aims</h3>
                  <ul>
                    <li>Apply - Check for overlapping entitlements with UK state  - rejection</li>
                  </ul>
                  
                  <h3>Journeys </h3>                 
                    <ul>
                      <li><a href="/v3/apply/rejection">Rejection screen</a></li>
                    </ul>
                </div>
              </details>
      
        </div>
      </div>










      <div class="nhsuk-card">
        <div class="nhsuk-card__content">
            <details class="nhsuk-details" open>
                <summary class="nhsuk-details__summary">
                  <span class="nhsuk-details__summary-text">
                    22 Apr 2024 
                  </span>- (V3)
                </summary>
                <div class="nhsuk-details__text">
                  <h3>Aims</h3>
                  <ul>
                    <li>Apply - final content and agreed name of the service</li>
                    <li>Upload - agreed design approach with final content</li>
                    <li>BSA service pages - create content for service pages</li>
                  </ul>
                       
                  <h3>Nunjuck learning</h3>                 
                  <ul>
                    <li><a href="/v3/nunjucks-learning/start-page">For learning Nunjucks only</a></li>
                   </ul>
                  
                  <h3>Journeys </h3>                 
                    <ul>
                      <li><a href="/v3/apply/start-page">Apply for S1 form</a></li>
                      <li><a href="/v3/upload/start-page">Upload required evidence</a></li>
                      <li><a href="/v3/download/start-page">Download certificate upon successful application</a></li>
                    </ul>
                  <h3>BSA service pages</h3>  
                    <ul>               
                    <li><a href="/v3/apply/overseas-healthcare-services">Overseas Healthcare Services overview</a></li>
                    <li><a href="/v3/apply/applying-for-healthcare-cover-for-living-abroad">Apply for healthcare cover</a></li>
                    <li><a href="/v3/apply/healthcare-abroad-posted-workers-people-with-exportable-benefits">Healthcare abroad for posted workers and people with some exportable benefits</a></li>
                    <li><a href="/v3/apply/contact">Contact Overseas Healthcare Services</a></li>
                  </ul>
                  <h3>Emails </h3>                 
                    <ul>
                      <li><a href="/v3/apply/email-success">Application successful</a></li>
                      <li><a href="/v3/apply/email-upload">Evidence - UK start date</a></li>
                      <li><a href="/v3/apply/email-upload-multiple-pensions">Evidence - UK and other country pension contributions</a></li>
                      <li><a href="/v3/apply/email-upload-german-contributions">Evidence - German healthcare contributions</a></li>
                      <li><a href="/v3/apply/email-upload-all-types">Evidence - UK start date + Multiple countries + German healthcare contributions</a></li>
                      <li><a href="/v3/apply/email-upload-sucess">Evidence submitted</a> (post upload)</li>
                    </ul>
                    <h3>V3 Design log</h3>
                    <ul class="nhsuk-list nhsuk-list--bullet">
                      <li>
                        <a href="https://bsa2468.atlassian.net/wiki/spaces/BP564/pages/4577525840">Apply for an S1</a>

                      </li>
                      <li>
                        <a href="https://bsa2468.atlassian.net/wiki/spaces/BP564/pages/4573167704">Upload evidence</a>
                      </li>
                      <li>
                        <a href="https://bsa2468.atlassian.net/wiki/spaces/BP564/pages/4579262632">S1 Emails</a>
                      </li>
             
                    </ul>
                </div>
              </details>
      
        </div>
      </div>
      <div class="nhsuk-card">
        <div class="nhsuk-card__content">
            <details class="nhsuk-details" >
                <summary class="nhsuk-details__summary">
                  <span class="nhsuk-details__summary-text">
                    9 Apr 2024 
                  </span>- (V2)
                </summary>
                <div class="nhsuk-details__text">
                  <h3>Aims</h3>
                  <ul>
                    <li>Apply: Updated dependant flow</li>
                    <li>All: Multi-variant testing the name of the service (see google start points)</li>
                    <li>Changes to content from user testing recommendations</li>
                    <li>Upload: changes to journey to introduce personalistion</li>
                  </ul>
                  <h3>Google search start points </h3> 
                  <ul class="nhsuk-list nhsuk-list--number">
                    <li><a href="/v2/apply/google-a">Apply for healthcare cover for living abroad</a></li>
                    <li><a href="/v2/apply/google-b">Apply for healthcare from the UK while living abroad</a></li>
                    <li><a href="/v2/apply/google-c">Get a certificate for healthcare cover when living abroad</a></li>

                  </ul> 
               
                  <h3>Journeys </h3>                 
                    <ul>
                      <li><a href="/v2/apply/start-page">Apply for S1 form</a></li>
                      <li><a href="/v2/upload/start-page">Upload required evidence</a></li>
                      <li><a href="/v2/download/start-page">Download certificate upon successful application</a></li>
                    </ul>
                    <h3>V2 Design log</h3>
                    <ul class="nhsuk-list nhsuk-list--bullet">
                      <li>
                        <a href="https://bsa2468.atlassian.net/wiki/spaces/BP564/pages/4573102306">Apply for an S1</a>

                      </li>
                      <li>
                        <a href="https://bsa2468.atlassian.net/wiki/spaces/BP564/pages/4568842290">Upload evidence</a>
                      </li>
             
                    </ul>
                </div>
              </details>
      
        </div>
      </div>
      <div class="nhsuk-card" >
        <div class="nhsuk-card__content">
            <details class="nhsuk-details">
                <summary class="nhsuk-details__summary">
                  <span class="nhsuk-details__summary-text">
                    25 February 2024 
                  </span>- (V1)
                </summary>
                <div class="nhsuk-details__text">
                  <h3>Aims</h3>
                  <ul>
                    <li>The next interation of the alpha S1 prototype</li>
                  </ul>
                  <h3>Prototypes</h3>
                  
                    <ul>
                      <li><a href="/v1/apply/start-page">Apply for S1 form</li>
                          <li><a href="/v1/upload/start-page">Upload required evidence</a></li>
                          <li><a href="/mvp/download-success/index">Download certificate upon successful application</a></li>
                    </ul>
                    <h3>V1 Design log</h3>
                    <ul class="nhsuk-list nhsuk-list--bullet">
                      <li>
                        <a href="https://bsa2468.atlassian.net/wiki/spaces/BP564/pages/4510515299">Apply for an S1</a>

                      </li>
                      <li>
                        <a href="https://bsa2468.atlassian.net/wiki/spaces/BP564/pages/4573167704">Upload evidence</a>
                      </li>
             
                    </ul>
                </div>
              </details>
      
        </div>
      </div>
      <div class="nhsuk-card">
        <div class="nhsuk-card__content">
            <details class="nhsuk-details">
                <summary class="nhsuk-details__summary">
                  <span class="nhsuk-details__summary-text">
                    7 February 2024
                  </span>
                </summary>
                <div class="nhsuk-details__text">
                  <h3>Aims</h3>
                  <ul>
                    <li>The prototypes were utilised during the usability testing of the Alpha prototype</li>
                    <li>findings from usability testing are available on <a target="_blank" href='https://miro.com/app/board/uXjVN4tMLe8=/'>miro</a></li>
                  </ul>
                  <h3>Prototypes</h3>
                  
                    <ul>
                      <li><a href="/mvp/apply/index">Apply for S1 form</li>
                          <li><a href="/mvp/file-upload/start">Upload required evidence</a></li>
                          <li><a href="/mvp/download-success/index">Download certificate upon successful application</a></li>
                    </ul>
              
                </div>
              </details>
      
        </div>
      </div>

  
      <h3>
        Discovery
      </h3>

      <div class="nhsuk-card">
        <div class="nhsuk-card__content">
            <details class="nhsuk-details">
                <summary class="nhsuk-details__summary">
                  <span class="nhsuk-details__summary-text">
                    14 September 2023
                  </span>
                </summary>
                <div class="nhsuk-details__text">
                  <h3>Aims</h3>
                  <ul>
                    <li>To provide UI recommendations for the discovery report</li>
                  </ul>
                  <h3>Prototypes</h3>
                  <ul>
                    <li><a href="../discovery/apply/index">Apply for S1 form</li>
                      <li><a href="../discovery/upload/index">Upload required evidence</a></li>
                      <li><a href="../discovery/download/index">Download certificate upon successful application</a></li>

                  </ul>
              
                </div>
              </details>
      
        </div>
      </div>

    </div>
  </div>
{% endblock %}
