{{ dateInput({
  "id": idPrefix,
  "hint": {
    "text": "For example, 15 3 1984"
  },
  "errorMessage": {
    "html": errorMessage
  } if data['error'] == 'true',
  "items": [
    {
      "name": "upload-day",
      "label": "Day",
      "classes": "nhsuk-input--width-2"
    },
    {
      "name": "upload-month",
      "label": "Month",
      "classes": "nhsuk-input--width-2"
    },
    {
      "name": "upload-year",
      "label": "Year",
      "classes": "nhsuk-input--width-4"
    }
  ]
}) }}