{% extends 'layouts/main.html' %}
{% set hideTitle = true %}
{% set hideBackLink = true %}
{% set showCard = true %}
{% set showButton = true %}
{% set cardTitle = 'Evidence submitted' %}
{% set buttonText = 'Finish' %}
{% set buttonHref = '../apply/email-upload-sucess' %}

{% block form %}

    <p>Your evidence has been submitted successfully.</p>
    <h2 class="nhsuk-heading-l">What happens next</h2>
    <p>We’ll review your evidence and email you with an update on your application.</p>
    <p>We aim to give you an update within 5 working days. </p>


{% endblock %}
