{% extends 'layouts/forms.html' %}
{% set title %}We could not find your record {% endset %}
{% set caption = data.uploadCaption %}
{% set hideBackLink = true %}
{% set hideButton = true %}
{% set hidecaption = true %}

 

{% block form %}
<p>We could not find your record with the information you’ve given us.</p>

<h2 class="nhsuk-heading-m">Check your details</h2>
<p>Change any incorrect details and try again.</p>



{{ summaryList({
  rows: [
    {
      key: {
        text: 'OHS reference number	'
      },
      value: {
        html: data['ohsNumber'] or '25001275'
      },
      actions: {
        items: [
          {
            href: "ohs-number",
            text: "Change",
            visuallyHiddenText: "your OHS reference number"
          }
        ]
      }
    },   
    {
      key: {
        text: "Name"
      },
      value: {
        html: data['applicantName'] or 'John Smith'
      },
      actions: {
        items: [
          {
            href: "full-name",
            text: "Change",
            visuallyHiddenText: "your name"
          }
        ]
      }
    },
    {
      key: {
        text: "Date of birth"
      },
      value: {
        html: data['applicantDob'] or '23 June 1980'
      },
      actions: {
        items: [
          {
            href: "dob",
            text: "Change",
            visuallyHiddenText: "your date of birth"
          }
        ]
      }
    },
    {
      key: {
        text: "National Insurance number"
      },
      value: {
        html: data['applicant-nino'] or 'QQ123456C'
      },
      actions: {
        items: [
          {
            href: "nino",
            text: "Change",
            visuallyHiddenText: "your national insurance number"
          }
        ]
      }
    } 
  ] 
}) }}
<h2 class="nhsuk-heading-m">Contact us</h2>

<p>If your details are correct but we still cannot find your record, <a href="https://www.nhsbsa.nhs.uk/contact-overseas-healthcare-services">contact us</a>.</p>
{% endblock %}
