{% extends 'layouts/forms.html' %}
{% set title %}We could not find your record {% endset %}
{% set caption = data.uploadCaption %}
{% set hideBackLink = true %}
{% set hideButton = false %}
{% set hidecaption = true %}
{% set buttonText = 'Finish' %}



{% block form %}
<p>We could not find your record with the information you’ve given us.</p>
<p>You can <a href="split-check-your-answers">check your details are correct and try again</a>.</p>

<h2 class="nhsuk-heading-m">Contact us</h2>

<p>If your details are correct but we still cannot find your record, <a href="https://www.nhsbsa.nhs.uk/contact-overseas-healthcare-services">contact us</a>.</p>
{% endblock %}
