{% extends 'layouts/forms.html' %}
{% set title %}Upload your evidence{% endset %}
{% set hidecaption = true %}
{% set hideErrorMarkup = true %}
{% set idPrefix %}file-input{% endset -%}

{% set errorMessage %}
Upload your evidence
{% endset %}

{% block form %}


  <p>Upload a letter from the Department for Work and Pensions showing the date you started being paid your UK State Pension. </p>
  {%- if data['error'] == 'true' -%}
      <div id="formError">
    {%- endif -%}

  <h2 class="nhsuk-heading-m">Upload a file</h2>
  {%- if data['error'] == 'true' -%}
    <p class="nhsuk-error-message" id="file-input-error">Choose a file to upload</p>
  {%- endif -%}

  <p>The file must not be bigger than 10MB.</p>
 
  <p>The file must be in jpeg, jpg, png or pdf format.</p>  <label for="file-input" class="nhsuk-button nhsuk-button--secondary" data-module="nhsuk-button">
    Choose file
  </label>
  <input type="file" id="file-input" accept="image/jpeg, image/jpg, image/png, application/pdf" onchange="updateFileName()" style="display: none;">
  <span name="fileChosen" class="nhsuk-body" id="file-chosen">No file chosen</span>
  {%- if data['error'] == 'true' -%}
      </div>
    {%- endif -%}

  <!-- Hidden input field to store the value of the chosen file -->
  <input type="hidden" id="hiddenFileChosen1" name="hiddenFileChosen1">

  <script>
    function updateFileName() {
      const fileInput = document.getElementById('file-input');
      const fileNameSpan = document.getElementById('file-chosen');
      const hiddenInput = document.getElementById('hiddenFileChosen1');
  
      if (fileInput.files.length > 0) {
        const fileName = fileInput.files[0].name;
        fileNameSpan.textContent = fileName;
        hiddenInput.value = fileName; // Set value of hidden input
      } else {
        fileNameSpan.textContent = 'No file chosen';
        hiddenInput.value = ''; // Reset value of hidden input if no file chosen
      }
    }
  
    document.querySelector('.nhsuk-button').addEventListener('click', function(event) {
      event.preventDefault(); // Prevent the default action of the label's click event
      document.getElementById('file-input').click();
    });
  </script>
  
{% endblock %}
