{% extends "layouts/layout.html" %}

{% set id %}
  {% if data['error'] == 'true' %}
      id=formError
  {% endif %}
{% endset -%}



{% block content %}

<div class="nhsuk-grid-row">

  <div class="{% if not fullWidth %}nhsuk-grid-column-two-thirds{% else %}nhsuk-grid-column-full{% endif %}">

    {% include 'includes/_back.html' %}
    <br>

    <form {{formActionHtml | safe }} method="post" novalidate spellcheck="false">
      {%- if data['error'] == 'true' -%}
        {{ errorSummary({
          "titleText": "There is a problem",
          "errorList": [
            {
              "html": errorMessage,
              "href": '#' + idPrefix + '-error'
            }
          ]
        } ) }}
        {%- endif -%}

      <div class="nhsuk-form-group">
        <fieldset class="nhsuk-fieldset">
          {%- if hideErrorMarkup -%}
          <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
            {% else %}
            <legend class="nhsuk-fieldset__legend {% if showFontXl %}nhsuk-fieldset__legend--xl{% else %}nhsuk-fieldset__legend--l{% endif %}" {{ id }}> 
            {% endif %}

            <h1 class="nhsuk-fieldset__heading">
              {%- if not hidecaption -%}
                <span class="nhsuk-caption-l">{{ caption or 'Subcaption' }} </span>
              {% endif %}
                {{ title or 'h1 Header' }}
            </h1>
          </legend>
          {% if hintText %}
            <div class="nhsuk-hint" id="hint-text">
                {{ hintTextCopy }}
            </div>
          {% endif %}

        {% block form %}{% endblock %}
   
    </fieldset>
        {% if not hideButton %}
        {{ button({
          "classes": "nhsuk-u-margin-top-4",
          html: buttonText if buttonText else 'Continue'
        }) }}
      {% endif %}
     
      </div>

      </form>
  </div>
</div>
{% endblock %}