{% set id %}
  {% if data['error'] == 'true' %}
      id=formError
  {% endif %}
{% endset -%}

{% extends "layouts/layout.html" %}

{% block content %}
<div class="nhsuk-grid-row">

  {% if not fullWidth %}
    <div class="nhsuk-grid-column-two-thirds">
     {% else %}
      <div class="nhsuk-grid-column-full">
    {% endif %}

    <form {{formActionHtml | safe }} method="post" novalidate spellcheck="false">
      {%- if data['error'] == 'true' -%}
        {{ errorSummary({
          "titleText": "There is a problem",
          "errorList": [
            {
              "html": errorMessage,
              "href": '#' + idPrefix + '-error'
            }
          ]
        } ) }}
        {%- endif -%}


      <div class="nhsuk-form-group">
        <fieldset class="nhsuk-fieldset">
          {%- if hideErrorMarkup -%}
          <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
            {% else %}
            <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l" {{ id }}>
            {% endif %}

            <h1 class="nhsuk-fieldset__heading">
                <span class="nhsuk-caption-l">{{ caption or 'Subcaption' }} </span>
                {{ title or 'h1 Header' }}
            </h1>
          </legend>
          {% if hintText %}
            <div class="nhsuk-hint" id="hint-text">
                {{ hintTextCopy }}
            </div>
          {% endif %}

        {% block form %}{% endblock %}

      </fieldset>
      </div>
        {% if not hideButton %}
        {{ button({
          html: buttonText if buttonText else 'Continue'
        }) }}
      {% endif %}
      {% include 'includes/_back.html' %}
      </form>
  </div>
</div>
{% endblock %}