<!-- 
  This is the main layout where you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->
{% set serviceNameTitle %}
    {{data.serviceNameTesting or 'Apply for healthcare cover for living abroad'}}

{% endset -%}
    <!-- Extends the layout from /docs/views/template.html -->
{% extends "template.html" %}

<!-- Add your custom CSS or Sass in /app/assets/sass/main.scss -->
{% block headCSS %}
  <link href="/css/main.css" rel="stylesheet">
{% endblock %}

<!-- Set the page title -->
{% block pageTitle %}
  {{data.serviceNameTesting or 'Apply for healthcare cover for living abroad'}}
{% endblock %}



<!-- Edit the header -->
<!-- Header code examples can be found at https://service-manual.nhs.uk/design-system/components/header -->
{% block header %}
  {{ header({
    "service": {
        "name": serviceNameTitle,
        "href": "/"
      },
      "showNav": "false",
      "showSearch": "false"
    })
  }}
    <div class="app-phase-banner">
    <div class="nhsuk-width-container app-phase-banner__container">
      <p class="app-phase-banner__content">
        <strong class="nhsuk-tag app-phase-banner__tag">
          Beta	
        </strong>
        <span class="app-phase-banner__text">
          This is a new service – your <a href="#">feedback</a> will help us improve it.
        </span>
      </p>
    </div>
  </div>
{% endblock %}

<!-- Edit the footer -->
<!-- Footer code examples can be found at https://service-manual.nhs.uk/design-system/components/footer -->
{% block footer %}
  {{ footer({
    "links": [

      {
        "URL": "https://www.nhsbsa.nhs.uk/our-policies/privacy",
        "label": "Privacy"
      },
      {
        "URL": "/v3/apply/cookies",
        "target": "_blank",
        "label": "Cookies"
      },
      {
        "URL": "https://www.nhsbsa.nhs.uk/accessibility-statement-get-healthcare-cover-travelling-abroad",
        "label": "Accessibility"
      },
      {
        "URL": "https://www.nhsbsa.nhs.uk/our-policies/terms-and-conditions",
        "label": "Terms and conditions"
      },
      {
        "URL": "https://www.nhsbsa.nhs.uk/contact-us/freedom-information",
        "label": "Freedom of Information"
      }
    ]
  })}}
{% endblock %}

{% block bodyEnd %}
  {% block scripts %}

    {% include "includes/scripts.html" %}
    <!-- For adding page specific JavsScript -->

    {% block pageScripts %}{% endblock %}
    {{ data | log }}

  {% endblock %}
{% endblock %}