
{% extends "layouts/layout.html" %}


{% block content %}
<div class="nhsuk-grid-row">
  {% if not fullWidth %}
    <div class="nhsuk-grid-column-two-thirds">
     {% else %}
      <div class="nhsuk-grid-column-full">
    {% endif %}
   
    {% include 'includes/_back.html' %}

    {% if showTitle %}
    <h1 class="nhsuk-heading-l">
      <span class="nhsuk-caption-l">{{ caption or 'Subcaption' }} </span>
      {{ title or 'h1 Header' }}
    </h1>
    {% endif %}

    {% if showCard %}
    <div class="nhsuk-card confirmation">
      <div class="nhsuk-card__content">
        <h1 class="nhsuk-card__heading">
          {{ cardTitle or 'cardTitle' }}  
        </h1>
        <br /> 
        <h2><span class="nhsuk-caption-l">Overseas Healthcare Services (OHS) reference number:</span>{{ data.OHS }}</h3>
      </div>
    </div>
  {% endif %}

      {% block form %}{% endblock %}
   
    {% if showButton %}
        {{ button({
          html: buttonText if buttonText else 'Continue',
          href: buttonHref if buttonText else '#'
        }) }}
    {% endif %}
    
    

  </div>
</div>
{% endblock %}